.jstEditor {
	padding-left: 5px;
	}
	.jstEditor textarea, .jstEditor iframe {
		margin: 0;
		border: 0;
		}

.jstHandle {
	height: 16px;
	font-size: 0.1em;
	cursor: s-resize;
	background: transparent url(?pf=commentsWikibar/img/resizer.png) no-repeat 45% 50%;
	}

.jstElements {
	padding: 3px 5px 5px 5px;
	border-bottom: 5px;
	margin-left: 5px;
	}
	
	.jstElements .sr-only {
		clip-path: inset(100%);
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
		}

	.jstElements.focus {
		border: 2px solid dodgerblue;
		padding: 1px 3px 3px 3px;
		}

	.jstElements button {
		margin-right : 6px;
		width : 24px;
		height: 24px;
		padding: 4px;
		border-style: solid;
		border-width: 1px;
		border-color: #ddd;
		background-color : #f7f7f7;
		background-position : 50% 50%;
		background-repeat: no-repeat;
		outline-color: dodgerblue;
		}
		.jstElements button:hover {
			border-color : #000;
			}

	.jstElements [role="tooltip"] {
		position:absolute;
		bottom: 30px;
		left: 12px;
		background-color: lightyellow;
		padding: 5px;
		filter: drop-shadow(0 0 2px grey);
		white-space: nowrap;
		}
				  
	.jsBtnContainer {
		position: relative;
		}

.jstSpacer {
	width : 0px;
	font-size: 1px;
	margin-right: 4px;
	}

/* Buttons
-------------------------------------------------------- */
.jstb_strong {
	background-image: url(?pf=commentsWikibar/img/bt_strong.png);
	}
.jstb_em {
	background-image: url(?pf=commentsWikibar/img/bt_em.png);
	}
.jstb_ins {
	background-image: url(?pf=commentsWikibar/img/bt_ins.png);
	}
.jstb_del {
	background-image: url(?pf=commentsWikibar/img/bt_del.png);
	}
.jstb_quote {
	background-image: url(?pf=commentsWikibar/img/bt_quote.png);
	}
.jstb_code {
	background-image: url(?pf=commentsWikibar/img/bt_code.png);
	}
.jstb_br {
	background-image: url(?pf=commentsWikibar/img/bt_br.png);
	}
.jstb_ul {
	background-image: url(?pf=commentsWikibar/img/bt_ul.png);
	}
.jstb_ol {
	background-image: url(?pf=commentsWikibar/img/bt_ol.png);
	}
.jstb_pre {
	background-image: url(?pf=commentsWikibar/img/bt_pre.png);
	}
.jstb_bquote {
	background-image: url(?pf=commentsWikibar/img/bt_bquote.png);
	}
.jstb_link {
	background-image: url(?pf=commentsWikibar/img/bt_link.png);
	}
