.jstEditor {
	padding-left: 5px;
	}
	.jstEditor textarea, .jstEditor iframe {
		margin: 0;
		border: 0;
	}

.jstHandle {
	height: 16px;
	font-size: 0.1em;
	cursor: s-resize;
	background: transparent url(?pf=commentsWikibar/img/wikibar.png) no-repeat center -160px;
	}

.jstElements {
	padding: 3px 3px;
	}
	.jstElements button {
		margin-right : 6px;
		width : 24px;
		height: 24px;
		padding: 4px;
		border-style: solid;
		border-width: 1px;
		border-color: #ddd;
		background-color : #f7f7f7;
		background-image: url(?pf=commentsWikibar/img/wikibar.png);
		background-repeat: no-repeat;
		}
	.jstElements button:hover {
		border-color : #000;
		}
		.jstElements button span {
			display : none;
			}
	.jstElements span {
		display : inline;
		}

.jstSpacer {
	width : 0px;
	font-size: 1px;
	margin-right: 4px;
	}

/* Buttons
-------------------------------------------------------- */
.jstb_strong {
	background-position: 0 -40px;
	}
.jstb_em {
	background-position: 0 -130px;
	}
.jstb_ins {
	background-position: 0 -186px;
	}
.jstb_del {
	background-position: 0 -216px;
	}
.jstb_quote {
	background-position: 0 -10px;
	}
.jstb_code {
	background-position: 0 -100px;
	}
.jstb_br {
	background-position: 0 -336px;
	}
.jstb_ul {
	background-position: 0 -246px;
	}
.jstb_ol {
	background-position: 0 -70px;
	}
.jstb_pre {
	background-position: 0 -366px;
	}
.jstb_bquote {
	background-position: 0 -306px;
	}
.jstb_link {
	background-position: 0 -276px;
	}
